<div class="container-fluid g-0 bgGradient">
  <div *ngFor="let row of gridOfGame; let rowIndex  = index" class="row g-0  rowSize">
    <div *ngFor="let box of row; let colIndex = index" (click)="boxClicked(rowIndex,colIndex)"
      class="col g-0 border-1 border p-2 d-flex justify-content-center align-items-center flex-wrap">
      <div class="ball rounded-circle explode" *ngFor="let balls of ballCounts(box.numberOfBalls); let i = index"
        [style.background]="box.isBoxClickedOnce ? box.colorInBox : 'white'">
      </div>
    </div>
  </div>
  <div class="modal d-block" *ngIf="!gameStarted" id="startGame" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-4">
        <div class="modal-body">
          <h1 class="mb-4">New Game</h1>
          <div class="d-flex flex-column g-3 row">
            <button class="btn bg-lightBlue text-white fw-semibold" (click)="createRoom()">Create room</button>

            <input type="text" class="inputBox" placeholder="Enter Name" required [(ngModel)]="playerName">

            <input type="text" class="inputBox" placeholder="Enter Code" [(ngModel)]="joinCode">

            <button class="btn bg-darkBlue text-white fs-4 fw-bold" (click)="joinRoom()">Join</button>

            <div *ngIf="roomId" class="d-flex align-items-center">
              <p class="fw-bold fs-3 mb-0">Room Code: {{ roomId }}</p>
              <button class="btn align-items-center" (click)="copyToClipboard(roomId)">
                <svg width="25px" height="25px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                  <rect x="128" y="128" width="336" height="336" rx="57" ry="57"
                    style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px" />
                  <path
                    d="M383.5,128l.5-24a56.16,56.16,0,0,0-56-56H112a64.19,64.19,0,0,0-64,64V328a56.16,56.16,0,0,0,56,56h24"
                    style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                </svg>
              </button>
            </div>

            <p *ngIf="playersCount === 1">Waiting for player...</p>
            <p *ngIf="playersCount === 2">Game Starting...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="gameModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <p>Not your turn</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="winnerModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <p>Player {{colors[i]}} Win</p>
          <button class="text-center btn btn-success" (click)="RefreshPage()">New Game</button>
        </div>
      </div>
    </div>
  </div>
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div #codeErrorToast id="codeErrorToast" class="toast bg-danger text-white fw-semibold" data-bs-delay="3000" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header d-flex align-items-center justify-content-end pe-3 p-0">
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body fs-5">
        Please Enter the Code
      </div>
    </div>
  </div>
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div #clipboardToast id="clipboardToast" class="toast bg-success text-white fw-semibold" mdata-bs-delay="3000" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header d-flex align-items-center justify-content-end pe-3 p-0">
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body fs-5">
        Copied to Clipboard
      </div>
    </div>
  </div>
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div #connectedToast id="connectedToast" class="toast bg-success text-white fw-semibold" data-bs-delay="3000" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header d-flex align-items-center justify-content-end pe-3 p-0">
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body fs-5">
        Connection to game is Successfull 
      </div>
    </div>
  </div>
</div>