.rowSize{
    height: 5.55%;
}
.container-fluid{
    height: 100vh !important;
    width: 100vw !important;
}
 .ball{
    height: 11px;
    width: 11px;
    box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.7);
 }
 .bgGradient{
    background: linear-gradient(to bottom, black, rgb(2, 2, 109)) !important;
 }
 .bg-darkBlue{
  background:rgb(2, 2, 109) ;
 }
 .bg-lightBlue{
  background:rgb(5, 5, 160) ;
 }
 .inputBox{
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
 }




 .animate-up {
  animation: moveUp 0.4s ease-out;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-40px);
    opacity: 0;
  }
}

.animate-down {
  animation: moveDown 0.4s ease-out;
}

@keyframes moveDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}

.animate-left {
  animation: moveLeft 0.4s ease-out;
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-40px);
    opacity: 0;
  }
}

.animate-right {
  animation: moveRight 0.4s ease-out;
}

@keyframes moveRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(40px);
    opacity: 0;
  }
}

.explode {
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.up {
  animation-name: moveUp;
}

.right {
  animation-name: moveRight;
}

.down {
  animation-name: moveDown;
}

.left {
  animation-name: moveLeft;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .gameBoard{
    height: 100% !important;
    width: 100% !important;
  }
  /* .modal-dialog{
    width: 90% !important;
  } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .gameBoard{
    height: 100% !important;
    width: 400px !important;
  }
  .modal-dialog{
    width: 350px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .gameBoard{
    height: 100% !important;
    width: 400px !important;
  }
  .modal-dialog{
    width: 350px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .gameBoard{
    height: 100% !important;
    width: 400px !important;
  }
  .modal-dialog{
    width: 350px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .gameBoard{
    height: 100% !important;
    width: 400px !important;
  }
  .modal-dialog{
    width: 350px !important;
  }
}